HOST=localhost
PORT=8001
DEBUG=1
POSTGRES_URL=postgresql+psycopg2://postgres:PG202410122130@192.168.50.24/ai-visa
POSTGRES_ECHO=1
SUPER_ADMIN_PASSWORD=123456
LOG_LEVEL=debug
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=xxxxx
OPENAI_MODEL_NAME=gpt-4.1
DIFY_BASE_URL=http://192.168.50.24:5000/v1
DIFY_API_KEY=app-xxxxx
STRAPI_BASE_URL=http://192.168.50.24:1339
STRAPI_API_TOKEN=xxxxx