NEXT_PUBLIC_BASE_URL=http://localhost:3000
ANY_CONVERTERS_API_BASE=http://192.168.50.24:8000/any-converters/api/v1
STRIPE_BASE_URL=https://api.stripe.com
STRIPE_SECRET_KEY=xxxx
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=xxxx
AUTH_SECRET=xxx
STRAPI_API_TOKEN=xxxxxxx
NEXT_PUBLIC_PAGE_LIMIT=6
STRAPI_FORM_SUBMISSION_TOKEN=your-form-submission-token
NEXT_PUBLIC_STRAPI_API_URL=https://cms.anyconverters.com
STRAPI_API_URL=http://8.219.159.101:1338
AI_VISA_API_BASE_URL=http://192.168.50.24:8001/ai-visa/api/v1